[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=touchpad_settings
Comment=
Exec=/home/sigurd/.touchpad_settings.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

